<% include ../partials/header.ejs %>
<a href="/" id="logOutBtn" class="btn btn-default btn-sm">Home</a>
<a href="/maps" id="joinGameBtn" class="btn btn-default btn-sm">Join Game Now</a>

<center>
<br><br><br><br><br>
<div class="col-md-12">
    <h1>Log in and create a game!</h1>
    <form class="form" method="post" action="/auth/login">
        <input type="text" style="width: 400px" class="form-control" placeholder="E-mail" name="email">
        <br><br>
        <input type="password" style="width: 400px"class="form-control" placeholder="Password" name="password">
        <br>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
    <br>
    <a href="/auth/signup" class="btn btn-primary">Create Account</a>
</div>
</center>


<% include ../partials/footer.ejs %>