<% include partials/header.ejs %>
<div class="container text-center">
  <h1 class="mainTitle">Pick-Up Games</h1>
  <h2 class="subtitle">get out and play</h2>
  <p>
    <a href="/parks/create">
    <button id="createBtn" class="btn btn-default btn-lg">C r e a t e G a m e</button>
    </a>
    <a href="/maps">
    <button id="joinBtn" class="btn btn-default btn-lg">J o i n G a m e</button>
    </a>
  </p>
</div>