<% include partials/header.ejs %>
<div class="container text-center">
  <h1 class="mainTitle">Pick-Up Games</h1>
  <p>
    <a href="/parks">
    <button id="createBtn" class="btn btn-default btn-lg">Create Game</button>
    </a>
    <a href="/maps">
    <button id="joinBtn" class="btn btn-default btn-lg">Join Game</button>
    </a>
  </p>
</div>