body{
  background: url("./grasspic22.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}


#map{
  width: 100%;
  height: 500px;
  border: 4px black;
}
#mapCon{
  /*border: 4px black;*/
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  color: rgba(0,10,10,.9);
  font-weight: 100;
  margin-top: 80px;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
}

h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(0,10,10,.9);
}

.subtitle{
    font-size: 3.5em;
    color: rgba(0,10,10,.9);
    margin: 50px auto 185px;
    font-family: 'Josefin Sans', sans-serif;
  }

.mainTitle {
  font-size: 5.5em;
  /*margin: 100px auto 235px;*/
}

#dropdown{
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: none;
}

ul{
  text-decoration: none;
}

#signInBtn{
  color: white;
  background-color: rgba(0,0,0,.4);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin-right: 5px;
  border: none;
}

#logOutBtn{
  color: white;
  background-color: rgba(0,0,0,.4);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 8px;
  border: none;
}

#joinGameBtn{
  color: white;
  background-color: rgba(0,0,0,.4);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin-top: 8px;
  margin-right: 5px;
  border: none;
}

#signUpBtn{
  color: white;
  background-color: rgba(0,0,0,.4);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  border: none;
}

#createBtn{
  color: white;
  background-color: rgba(0,0,0,.6);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  font-weight: 100;
  margin-right: 5px;
/*  border: 18px;
  border-color: white;*/
}

#joinBtn{
  color: white;
  background-color: rgba(0,0,0,.6);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  font-weight: 100;
  margin-left: 5px;
}
.thegame{
  margin-left: 8px;
  padding-bottom: 8px;
  height: auto;
  width: 600px;
  overflow: auto;
  background-color: rgba(255,255,255,.7);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#gameHeader{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: black;
}

.gameList {
  padding-left: 8px;
  padding-bottom: 8px;
  height: 500px;
  overflow: auto;
  background-color: rgba(255,255,255,.7);
}