<% include ../partials/header.ejs %>
<a href="/" id="aboutBtn" class="btn btn-default btn-sm">Home</a>
<div class="container">
  <h1 class="mainTitle">Pick-Up Games</h1>
  <div class="container" id="aboutBody">
    <h2 class="aboutSub">About:</h2>
    <p>
      Pick-Up games was designed so that people can find out about games in their neighborhood and go play what they love.
      Whether you're new to the city or just looking for people with the same passions to play, Pick-Up games is here to
      help keep the game alive! Users can find games near them to join or create a new game and post them to the map.
      When these games get posted, others can see what sport, what time, and where the game is so that they can come play!
      Sign-up to create a game or just click join to jump right in.
    <br><br>
      Although still in beta, I'll be working to get Pick-Up Games in the hands of the players ASAP.
    <br><br>Contact:<br>
      Riley Joseph<br>
      riley.m.joseph-1@gmail.com
    <br><br>
      Designed to bring people together and keep you in the game.
    <br><br>
    </p>
  </div>
</div>


